body{
    height:400px;
    margin:0;
    padding:0;
    background-color:  rgb(115, 127, 145);
    position: relative;
    font-size: 1.2em;
}

.loginSignup-container{
    margin:30vh auto 0 auto;
    width:70%;
    border:1px solid black;
    padding:1em;
    position: relative;
    padding:2em 0;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    box-shadow: rgb(88, 96, 107) 6px 6px;
    max-width: 800px;
    .nav{
        position: absolute;
        top:-2.2em;
        a {
            padding:1em;
            border-top-left-radius: .5em;
            border-top-right-radius: .5em;
            border-top:1px  solid black;
            border-left:1px  solid black;
            border-right:1px  solid black;
            cursor: pointer;
            user-select: none;

            
        }
       
    
    }

    .signupBtn{
        background-color: rgba(88, 96, 107, 0.616);
    }

    
}

label{
    display: block;
    padding-bottom: .2em;
    user-select: none;
}

.pwField label, .typeField label, .emailField label{
    margin-top: 1em;
}

.typeField label{
    display: inline-block;
}

#submit{
    margin-top: 1em;
}


.inputFields{
    width: 80%;
    margin:0 auto; 

    input{
        display: block;
        box-sizing: border-box;
        width:100%;
        padding:1em;
   
    }
}

.message-container{
    max-width: 800px;
    width:70%;
    margin:2em auto;
    box-sizing: border-box;
    opacity: 0;
    transition: all 1s ease-in;

    .message{
        padding: 1em 0 1em 0;
        text-align: center;
        font-size: 1.5em;
        letter-spacing: .1em;      
        border-top: black double 2px;
        border-bottom: black double 2px;
    }
}

