<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/home/home.css">
    <title>Corona Virus Tracker</title>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet"> 
</head>

<body>

<nav class="navigation">
    <h1>A L B .</h1>

    <div class="arrow"></div>
    <ul>
        <li class = "home">Home</li>
        <li class = "graph">Graph</li>
        <li class = "learnMore">Learn More</li>
    </ul>
    
</nav>
<h1 class="title">Corona Virus Tracker</h1>
<main class='grid-container'>
    
    
    <div class = "sidebar">
        <h1 class="country title">CANADA</h1>
        <div class="sidebar-info confirmed">
            <h1>124,324</h1>
            <h2>Confirmed</h2>
        </div>
        <div class="sidebar-info deceased">
            <h1>32,143,234</h1>
            <h2>Deceased</h2>
        </div>
        <div class="sidebar-info active">
            <h1>43,252,432</h1>
            <h2>Active</h2>
        </div>
        <div class="sidebar-info recovered" >
            <h1>321,432,312</h1>
            <h2>Recovered</h2>
        </div>
    </div>

    <div class="content">

        <div class="top-bar">
            <h1>Country Graph</h1>
            <input class = "search" type="text" placeholder="search">
        </div>
    <div class="table">
        

    </div>

    </div>





</main>


<main>

</main>












<script type="module" src="/clientJS/graph.js"></script>
<script type="module" src="../clientJS/module.js"></script>
</body>


</html>






















