<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/graph/graph.css">
    <title>Corona Virus Tracker</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script> 
    
    
</head>

<body>

<nav class="navigation">
    <h1>A L B .</h1>

    <div class="arrow"></div>
    <ul>
        <li class = "home">Home</li>
        <li class = "graph">Graph</li>
       
    </ul>
    
</nav>
<h1 class="title">Corona Virus Tracker</h1>
<main class='grid-container'>
    
    
    <div class = "sidebar">
        <a class = "location">Use my Location...</a>
        <select class="countrySelect">
            <% for (let country of countryList){ %>
                <option><%= country%></option>
            <%}%>
        </select>

      
        <div class="sidebar-info confirmed">
            <h1></h1>
            <h2>Confirmed</h2>
        </div>
        <div class="sidebar-info deceased">
            <h1></h1>
            <h2>Deceased</h2>
        </div>

        <div class="sidebar-info recovered" >
            <h1></h1>
            <h2>Recovered</h2>
        </div>
    </div>

    <div class="content">

        <div class="top-bar">
            <h1>Country Graph</h1>
        </div>
    <div class="table graph">

        <canvas class="myChart"></canvas>

    </div>

    </div>





</main>


<main>

</main>












<script type="module" src="/clientJS/graph.js"></script>
<script type="module" src="../clientJS/module.js"></script>
</body>


</html>






















