@import "../module";
@import "../mixin";

.countrySelect{
    padding:.5em;
    width:50%;
    text-align: center;
    font-weight: bolder;
    border-radius: .5em;
    font-size: 1.5em;
    letter-spacing: .3em;
    margin-top: .5em;
    background-color:  rgba(148, 148, 148, 0);
    
    @include display($display){
        font-size: 1em;
        padding:.5em;
        width:80%;
        margin-top: 1em;
    }

}

.table{
 
    margin:0 auto;
}

.location{
    cursor: pointer;
    width:20%;
    display:block;
    margin:2em auto 0 auto;
    padding:.2em;
    border: 1px solid black;
    // background-color: rgba(255, 235, 205, 0.466);
    text-decoration: none;
    color:black;
    border-radius: .3em;
    &:hover{
        background-color: rgba(255, 235, 205, 0.555);
    }

    @include display($display){
        
        width:50%;
        
    }
}