body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #737f91;
  min-width: 400px;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation {
  position: relative;
}

.navigation h1 {
  margin-left: 1em;
  font-size: 1.5em;
}

@media (min-width: 1300px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid black;
  }
}

.navigation .arrow {
  width: 30px;
  height: 5px;
  display: block;
  background-color: black;
  position: relative;
  top: -40px;
  right: 10px;
  float: right;
  cursor: pointer;
}

@media (min-width: 1300px) {
  .navigation .arrow {
    display: none;
  }
}

.navigation .arrow:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.navigation .arrow::before {
  display: block;
  background-color: black;
  width: 30px;
  height: 5px;
  content: "";
  position: absolute;
  top: -10px;
}

.navigation .arrow::after {
  display: block;
  background-color: black;
  width: 30px;
  height: 5px;
  content: "";
  position: absolute;
  top: 10px;
}

.navigation ul {
  position: absolute;
  width: 100%;
  right: -98vw;
  top: 109px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: #696868;
}

@media (min-width: 1300px) {
  .navigation ul {
    all: unset;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1em;
  }
}

.navigation li {
  padding: 1em;
  font-size: 1.5em;
  text-align: center;
  cursor: pointer;
}

.navigation li:hover {
  background-color: #a1a1a1;
}

.title {
  text-align: center;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 1300px) {
  .grid-container {
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    gap: 2em;
  }
}

.grid-container .sidebar {
  background-color: #8491A3;
  border-radius: 10px;
  text-align: center;
}

@media (min-width: 1300px) {
  .grid-container .sidebar {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    min-width: 300px;
  }
}

.grid-container .title {
  text-decoration: underline;
}

.grid-container .sidebar-info h1 {
  font-size: 3em;
  margin-bottom: 0em;
}

.grid-container .confirmed h1 {
  color: #87D68D;
}

.grid-container .deceased h1 {
  color: #EE6055;
}

.grid-container .recovered h1 {
  color: #18d428;
}

.grid-container .sidebar-info h2 {
  font-size: 1.2em;
  letter-spacing: .1em;
  margin-top: .5em;
}

.content {
  background-color: #8491A3;
  margin-top: 2em;
  border-radius: 10px;
  min-height: 300px;
}

@media (min-width: 1300px) {
  .content {
    margin: unset;
  }
}

.content .graph {
  width: 90%;
}

.content .top-bar {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .top-bar h1 {
  text-decoration: underline;
}

.content .top-bar .search {
  margin-left: auto;
}

.content .table {
  position: relative;
}

.countrySelect {
  padding: .5em;
  width: 50%;
  text-align: center;
  font-weight: bolder;
  border-radius: .5em;
  font-size: 1.5em;
  letter-spacing: .3em;
  margin-top: .5em;
  background-color: rgba(148, 148, 148, 0);
}

@media (min-width: 1300px) {
  .countrySelect {
    font-size: 1em;
    padding: .5em;
    width: 80%;
    margin-top: 1em;
  }
}

.table {
  margin: 0 auto;
}

.location {
  cursor: pointer;
  width: 20%;
  display: block;
  margin: 2em auto 0 auto;
  padding: .2em;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  border-radius: .3em;
}

.location:hover {
  background-color: rgba(255, 235, 205, 0.555);
}

@media (min-width: 1300px) {
  .location {
    width: 50%;
  }
}
/*# sourceMappingURL=graph.css.map */